<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/fdfd36f2-9468-476d-af64-7eb4fbdfcacf/resourceGroups/RG_Microservices/providers/Microsoft.ContainerRegistry/registries/TrainingManagementCourseApi20260522105331</ResourceId>
    <ResourceName>TrainingManagementCourseApi20260522105331</ResourceName>
    <ResourceGroup>RG_Microservices</ResourceGroup>
    <Subscription>WP_Subscription_0144</Subscription>
    <RegistryUrl>https://trainingmanagementcourseapi20260522105331.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>009b6aa8-e135-4904-948f-3770b89d9bec</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>